font-face {
    font-family: 'Orbitron';
    src: url(/fonts/Orbitron-Medium.woff) format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Black.woff) format('woff');
    font-weight: 900;
}
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Bold.woff) format('woff');
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Regular.woff) format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Medium.woff) format('woff');
    font-weight: 500;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    background-color: var(--blue);
}
:root {
    font-size: 62.5%;
    --main-color: #FFF;
    --blue: #1A4D70;
    --grey-medimum: #D8D8D8;
    --orange: #F9572B;
    --grey-soft: #EFEFEF;
    --grey-hard: #777777;
    font-family: Roboto;
}
/* font-style__weight */
/* Regular 400, Medium 500, Bold 700, Black 900 */
html {
    background-color: var(--main-color);
}
a {
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--blue);
}
header {
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    width: 100%;
}
.header-logo {
    box-sizing: border-box;
    width: 117px;
    height: 46px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}
.header-img {
    width: 117px;
    height: 46px;
}
.header__menu {
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    width: 32px;
    height: 32px;
    background-image: url(/img/Menu.svg);
    background-color: var(--main-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
div {
    box-sizing: border-box;
    width: 100%;
}
.footer__wrapper {
    box-sizing: content-box;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.footer__wrapper--in {
    box-sizing: content-box;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.date {
    box-sizing: border-box;
    display: flex;
    background-color: var(--blue);
    margin: 0;
    padding: 6%;
    color: var(--main-color);
    margin-left: 6%;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    height: auto;
}
.footer-logo {
    box-sizing: border-box;
    display: flex ;
    width: auto;
    height: auto;
    object-fit: fill;
    margin-right: 6%;
}
section {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
a {
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--blue);
}
h1 {
    box-sizing: border-box;
    display: flex;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--main-color);
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}
h2 {
    box-sizing: border-box;
    font-size: 3.6rem;
    font-weight: 700;
}
h3 {
    box-sizing: border-box;
    font-size: 2.4rem;
    font-weight: 700;
}
h4 {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-weight: 900;
}
p {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-weight: 400;
}
form {
    border-radius: 4px;
    display: grid;
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 700;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;

}
fieldset {
    border-radius: 4px;
}
.lic {
    width: 286px;
    border-radius: 4px;
}
.sub {
    background-color: var(--orange);
    color: var(--main-color);
    border: none;
    padding: 15px;
    border-radius: 4px;
}
input {
    font-size: 1.6rem;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 4px;
    font-weight: 700;
}
.res {
    margin-top: 0;
    background-color: var(--orange);
    color: var(--main-color);
    border: none;
    padding: 15px;
    border-radius: 4px;
}
option {
    font-weight: 700;
}
select {
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: 700;
}
::selection {
    background-color: var(--main-color);
    color: var(--orange);
}
button:hover {
    color: var(--blue);
    background-color: var(--orange);
}
input:hover {
    color: var(--blue);
    background-color: var(--orange);
}
::placeholder {
    color: var(--blue);
}
select:hover {
    color: var(--blue);
    background-color: var(--orange);
}
option:hover {
    color: var(--blue);
    background-color: var(--orange);
    font-size: 1,6rem;
    font-weight: 700;
}