body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
:root {
    font-size: 62.5%;
    --main-color: #FFF;
    --blue: #1A4D70;
    --grey-medimum: #D8D8D8;
    --orange: #F9572B;
    --grey-soft: #EFEFEF;
    --grey-hard: #777777;
    font-family: Roboto;
}
/* font-style__weight */
/* Regular 400, Medium 500, Bold 700, Black 900 */
html {
    background-color: var(--main-color);
}
a {
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--blue);
}
header {
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    width: 100%;
}
.header-logo {
    box-sizing: border-box;
    width: 117px;
    height: 46px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}
.header-img {
    width: 117px;
    height: 46px;
}
.header__menu {
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    width: 32px;
    height: 32px;
    background-image: url(/img/Menu.svg);
    background-color: var(--main-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
div {
    box-sizing: border-box;
    width: 100%;
}
.footer__wrapper {
    box-sizing: content-box;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.footer__wrapper--in {
    box-sizing: content-box;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.date {
    box-sizing: border-box;
    display: flex;
    background-color: var(--blue);
    margin: 0;
    padding: 6%;
    color: var(--main-color);
    margin-left: 6%;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    height: auto;
}
.footer-logo {
    box-sizing: border-box;
    display: flex ;
    width: auto;
    height: auto;
    object-fit: fill;
    margin-right: 6%;
}
section {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--blue);
}
h1 {
    box-sizing: border-box;
    display: flex;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--main-color);
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}
h2 {
    box-sizing: border-box;
    font-size: 3.6rem;
    font-weight: 700;
}
h3 {
    box-sizing: border-box;
    font-size: 2.4rem;
    font-weight: 700;
}
h4 {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-weight: 900;
}
p {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-weight: 400;
}
.container {
    border-radius: 5%;
    background-color: black;
    display: grid;
    width: 800px;
    height: 800px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 10%;
}
.item {
    border-radius: 5%;
}
.item1 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    background-color: white;
}
.item2 {
    grid-row: 1 / 2;
    grid-column: 3 / 5;
    background-color: yellow;
}
.item3 {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    background-color: red;
}
.item4 {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    background-color: yellow;
}
.item5 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    background-color: white;
}
.item6 {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    background-color: white;
}
.item7 {
    grid-row: 4 / 5;
    grid-column: 3 / 5;
    background-color: white;
}
.item8 {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    background-color: white;
}
.item9 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    background-color: black;
}
.dashboard {
    display: grid;
    width: 800px;
    height: 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;
    margin: 10%;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.d-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: aqua;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.d-2 {
    grid-column: 2 / 9;
    grid-row: 1 / 2;
    background-color: aqua;
    border: 1px solid;
}
.d-3 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-color: aqua;
    border: 1px solid;
}
.d-4 {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
    background-color: aqua;
    border: 1px solid;
}
.d-5 {
    grid-column: 6 / 9;
    grid-row: 2 / 3;
    background-color: aqua;
    border: 1px solid;
}
.d-6 {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    background-color: aqua;
    border: 1px solid;
}
.d-7 {
    grid-column: 5 / 9;
    grid-row: 3 / 4;
    background-color: aqua;
    border: 1px solid;
}
.g1 {
    box-sizing: border-box;
    width: 50%;
    height: 50%;
}
.g2 {
    box-sizing: border-box;
    width: 50%;
    height: 50%;
}
.g3 {
    box-sizing: border-box;
    width: 50%;
    height: 50%;
}
.g4 {
    box-sizing: border-box;
    width: 50%;
    height: 50%;
}
.g5 {
    box-sizing: border-box;
    width: 50%;
    height: 50%;
}
.g6 {
    box-sizing: border-box;
    width: 50%;
    height: 50%;
}