div {
    box-sizing: border-box;
}
.visually-hidden {
    visibility: hidden;
    width: 0px;
    height: 0px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    list-style-type: none;
}
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.advantages__list-1 {
    list-style-image:url();
    padding: 5% 5% 5% 5%;
    background-color: var(--main-color);
    max-width: 260px;
    width: 260px;
    border-radius: 4px;
    text-align: left;
    margin: 5% 5% 5% 5%;
    height: 418px;
    
}
.advantages__list-2 {
    list-style-image:url();
    padding: 5% 5% 5% 5%;
    background-color: var(--main-color);
    max-width: 260px;
    width: 260px;
    border-radius: 4px;
    text-align: left;
    margin: 5% 5% 5% 5%;
    height: 418px;
}
.advantages__list-3 {
    list-style-image:url();
    padding: 5% 5% 5% 5%;
    background-color: var(--main-color);
    max-width: 260px;
    width: 260px;
    border-radius: 4px;
    text-align: left;
    margin: 5% 5% 5% 5%;
    height: 418px;
}
:root {
    font-size: 62.5%;
    --main-color: #FFF;
    --blue: #1A4D70;
    --grey-medimum: #D8D8D8;
    --orange: #F9572B;
    --grey-soft: #EFEFEF;
    --grey-hard: #777777;
    font-family: Roboto;
}
/* font-style__weight */
/* Regular 400, Medium 500, Bold 700, Black 900 */
html {
    background-color: var(--main-color);
}
a {
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--blue);
}
h1 {
    box-sizing: border-box;
    display: flex;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--main-color);
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}
h2 {
    box-sizing: border-box;
    font-size: 3.6rem;
    font-weight: 700;
}
h3 {
    box-sizing: border-box;
    font-size: 2.4rem;
    font-weight: 700;
}
h4 {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-weight: 900;
}
p {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-weight: 400;
}
label {
    box-sizing: border-box;
    font-size: 1.4rem;
    font-weight: 400;
}
.contact-footer__orange--location-p, li, .contact__link-2, .contact__link-1, button {
    font-weight: 500;
    font-size: 1.6rem;
}
.contacts, .about, .equipment, .advantages__list, .customers, .objects, .about__p, .location__p {
    color: var(--blue);
}
.contact-footer__orange--contacts {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: baseline;
}
.contact-footer__orange {
    box-sizing: border-box;
    background-color: var(--orange);
    width: 342px;
    height: 317px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.contact__img-2 {
    box-sizing: border-box;
    display: flex;
    width: 32px;
    height: 32px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
}
.contact-title-2 {
    font-size: 1.6rem;
    margin-top: 1%;
    margin-bottom: 1%;
}
.location__img-2 {
    box-sizing: border-box;
    display: flex;
    width: 32px;
    height: 32px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
}
.location-title-2 {
    font-size: 1.6rem;
    margin-top: 1%;
    margin-bottom: 1%;
}
.contact-footer__orange--location {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: baseline;
}
.contact-footer__orange--location-p {
    margin:0;
    width: 225px;
}
.send, .header__menu {
    background-color: var(--orange);
    color: var(--main-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.orange-text {
    color: var(--orange);
}
.about,.equipment__list-button, .equipment__list-button--BA100KD193, .equipment__list-button--BA150ED285, .equipment__list-button--BA180ED328, .equipment__list-button--BA300ED328, .equipment__list-button--PT150D155  {
    background-color: var(--grey-soft);
    color: var(--blue);
    border: none;
}
.equipment__list-button {
    height: 51px;
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.contact-footer__grey {
    background-color: var(--grey-hard);
    box-sizing: border-box;
    width: 342px;
    height: 112px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.contact-footer__grey--p {
    box-sizing: border-box;
    display: flex;
    width: 278px;
    height: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.contact-footer, .consultation, .advantages__title {
    color: var(--main-color);
    background-color: #0F2D49;
}
.advantages {
    background-color: #0F2D49;
    padding-bottom: 5%;
}
.home {
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #A56B33;
}
.advantages__title {
    padding-top: 5%;
}
.equipment__title {
    text-align: center;
}
header {
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    width: 100%;
}
.contact-title-1 {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-weight: 900;
}
.location-title-1 {
    font-size: 1.6rem;
    font-weight: 900;
}
.about__stat-1 {
    font-size: 1.6rem;
    font-weight: 900;
}
.about__stat-2 {
    font-size: 1.6rem;
    font-weight: 900;
}
.about__stat-3 {
    font-size: 1.6rem;
    font-weight: 900;
}
section {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-img {
    display: flex;
    max-width: 590px;
    width: 317px;
    height: 219px;
    max-height: 392px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-sizing: border-box;
}
.send {
    box-sizing: border-box;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: auto;
    font-size: 1.6rem;
}
.send-left {
    background-color: var(--orange);
    color: var(--main-color);
    border: none;
    border-radius: 4px;
    box-sizing: content-box;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 10%;
    margin-bottom: 5%;
    width: auto;
    font-size: 1.6rem;
}
.header__menu {
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    width: 32px;
    height: 32px;
    background-image: url(/img/Menu.svg);
    background-color: var(--main-color);
}
.header-logo {
    box-sizing: border-box;
    width: 117px;
    height: 46px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}
.header-img {
    width: 117px;
    height: 46px;
}
.contacts {
    display: flex;
    justify-content: center;
    box-sizing: content-box;
}
.contacts__wrapper {
    box-sizing: border-box;
    margin-top: 5%;
}
.about {
    display: flex;
    justify-content: center;
    box-sizing: content-box;
}
.about__wrapper {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-title {
    text-align: center;
}
.about__p {
    margin-left: 20%;
    margin-right: 20%;
}
.about__about-stat-1 {
    height: 200px;
    box-sizing: border-box;
}
.about__stat-img-1 {
    display: flex;
    box-sizing: border-box;
    width: 180px;
    height: 107px;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 29%;
    margin-bottom: 5%;
}
.about__stat-1 {
    display: flex;
    box-sizing: border-box;
    height: 38px;
    width: 200px;
    margin-left: 25%;
    margin-right: 24%;
}
.about__about-stat-2 {
    height: 200px;
    box-sizing: border-box;
}
.about__stat-img-2 {
    display: flex;
    box-sizing: border-box;
    width: 180px;
    height: 107px;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 29%;
    margin-bottom: 5%;
}
.about__stat-2 {
    display: flex;
    box-sizing: border-box;
    height: 38px;
    width: 200px;
    margin-left: 25%;
    margin-right: 24%;
}
.about__about-stat-3 {
    height: 200px;
    box-sizing: border-box;
}
.about__stat-img-3 {
    display: flex;
    box-sizing: border-box;
    width: 180px;
    height: 107px;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 29%;
    margin-bottom: 5%;
}
.about__stat-3 {
    display: flex;
    box-sizing: border-box;
    height: 38px;
    width: 200px;
    margin-left: 25%;
    margin-right: 24%;
}
.about-img {
    display: flex;
    box-sizing: border-box;
    width: 360px;
    height: 242px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    object-fit: contain;
    object-position: left;
    padding: 0;
}
img {
    box-sizing: border-box;
}
.equipment__list-button--BA100KD193 {
    font-size: 1.6rem;
    width: auto;
}
.equipment__list-button--PT150D155 {
    display: none;
    font-size: 1.6rem;
    width: auto;
}
.equipment__list-button--BA150ED285 {
    font-size: 1.6rem;
    width: auto;
}
.equipment__list-button--BA180ED328 {
    font-size: 1.6rem;
    width: auto;
}
.equipment__list-button--BA300ED328 {
    display: none;
    font-size: 1.6rem;
    width: auto;
}
.advantages__wrapper {
    box-sizing: content-box;
}
.advantages__title {
    text-align: center;
    max-width: 100%;
}
.contacts__contact--contact {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    max-width: 364px;
    width: 364px;
    margin-right: 5%;
}
.contacts__contact--location {
    display: flex;
    justify-content: center;
    max-width: 364px;
    width: 364px;
    margin-right: 5%;
}
.contact__img-1 {
    box-sizing: border-box;
    width: 58px;
    height: 58px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.location__img-1 {
    box-sizing: border-box;
    width: 58px;
    height: 58px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.location__text-wrapper {
    max-width: 272px;
}
.customers__title {
    text-align: center;
}
.customers__list {
    box-sizing: border-box;
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    align-items: center;
}
.customers__list-1 {
    box-sizing: border-box;
    max-width: 323px;
    max-height: 124px;
    width: 231px;
    height: 124px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.customers__list-2 {
    box-sizing: border-box;
    max-width: 323px;
    max-height: 124px;
    width: 269px;
    height: 58px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.customers__list-3 {
    box-sizing: border-box;
    max-width: 323px;
    max-height: 124px;
    width: 175px;
    height: 118px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.customers__list-4 {
    box-sizing: border-box;
    max-width: 323px;
    max-height: 124px;
    width: 221px;
    height: 47px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.consultation__title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
form {
    margin: 1%;
    padding: 5%;
    box-sizing: border-box;
}
.consultation {
    padding: 1%;
}

.objects__title {
    text-align: center;
}
.objects__img {
    display: flex;
    width: 362px;
    height: 187px;
    max-width: 1182px;
    max-height: 610px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 3%;
}
.contact__text-wrapper {
    box-sizing: border-box;
    width: 272px;
}
input {
    width: 300px;
    max-width: 342px;
    height: 40px;
    margin-bottom: 10%;
}
#comm {
    height: 180px;
    max-height: 180px;
}
.objects__list {
    list-style-type: disc;
    column-count: 2;
}
.under-line {
    box-sizing: border-box;
    display: block;
    width: 100px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--orange);
    margin-bottom: 2%;
}
.under-line__o {
    box-sizing: border-box;
    display: block;
    width: 100px;
    height: 3px;
    margin-right: auto;
    background-color: var(--orange);
    margin-bottom: 5%;
}
.contact-footer__title {
    text-align: center;
    padding-top: 10%;
}
.connect {
    width: 342px;
    height: 57px;
    margin-left: 5%;
    margin-right: 5%;
}
footer {
    box-sizing: content-box;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.date {
    box-sizing: border-box;
    display: flex;
    background-color: var(--blue);
    margin: 0;
    padding: 6%;
    color: var(--main-color);
    margin-left: 6%;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    height: auto;
}
.footer-logo {
    box-sizing: border-box;
    display: flex ;
    width: auto;
    height: auto;
    object-fit: fill;
    margin-right: 6%;
}
form {
    box-sizing: content-box;
    margin: 0;
}
.contact-footer {
    background-color: var(--blue);
}
.objects__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contact-footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.objects__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.objects__list {
    margin-top: 5%;
    margin-bottom: 5%;
}
.consultaion__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    width: 343px;
    display: block;
}
@media (max-width: 392px) {
    footer {
        width: 394px;
    }
}
@media (min-width: 393px) {
    footer {
        width: 100%;
    }
}
